.secSpacing {
    padding-top: 200px;
    padding-bottom: 200px;
}

.line20 {
    line-height: 22px;
}

.secSpacing p {
    max-width: 920px;
    margin: 0 auto;
}

.feature {
    text-align: left;
}

.feature {
    background-image: url(../../public/artificialIntelligence/Images/aibuild.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    width: 100%;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature:hover {
    background-image: url(../../public/artificialIntelligence/Images/aibuild1.png);

}


.feature span {
    text-align: center;
    color: #676767;
}

.gap2 {
    padding-left: 2rem;
    padding-right: 1.2rem;
}

.feature:hover span {
    color: var(--mry);
}

.knowMore {
    border: 1px solid #F32F5A;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

@media (max-width:1028px) {
    .feature {
        width: 525px;
        margin: auto;
    }

    .gap2 {
        padding: 0px;
    }

    .feature {
        height: 250px;
        width: 100%;
    }

}

@media (max-width:500px) {

    .feature {
        height: 432px;
        width: 100%;
    }

    .gaps {
        padding: 20px !important;
    }

    .gap2 {
        padding: 0px;
    }

    .secSpacing {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

}

@media (max-width:991px) {

    .feature {
        height: 700px;
        width: 100%;
        background-position: center;
    }

    .cardContent {
        max-width: 285px;
        margin: 0 auto;
    }

    .gaps {
        padding: 20px !important;
    }

    .gap2 {
        padding: 0px;
    }

    .secSpacing {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (max-width:767px) {

    .feature {
        height: 400px;
        width: 100%;
    }

    .gaps {
        padding: 20px !important;
    }

    .gap2 {
        padding: 0px;
    }

    .secSpacing {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

}