.aismart{
    background-color:#210e11;
    height: 335px;
    justify-content: center;
    align-items: center;
}
.img11{
    width: 74%;
    z-index: 1;
    margin-top: -195px;
    justify-content: right;
}
.secBtns {
    background-size: cover;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: #00000038;
    border: 0.5px solid #707070;
    max-width: 500px;
    /* margin: 27px auto; */
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 21px;
}

@media (max-width:991px){

        .aismart{
            background-color:#210e11;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .img11{
            width: 70%;
            margin-top: 0px;
            text-align: center;
            margin: 0 auto;
        }
        .secBtns {
            background-size: cover;
            border-radius: 50px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(5px);
            background-color: #00000038;
            border: 0.5px solid #707070;
            max-width: 500px;
            margin: 8px auto;
            height: 69px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 21px;
        }
        .grediantBtn {
            background-image: linear-gradient(to right, #EB335B, #4A78EF);
            font-size: 12px;
            padding: 0px 20px;
            border-radius: 30px;
            margin-left: -10px;
        }
        
        .centerBorder {
            width: 1px;
            height: 70%;
            background: #707070;
        }
        
        .metaSpan {
            margin-left: 15px;
            font-size: 20px;
        }
        
        .btnDiv {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
    
}
@media (max-width:767px){

    .aismart{
        background-color:#210e11;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
    .img11{
        width: 70%;
        margin-top: 0px;
        text-align: center;
    }
    .secBtns {
        background-size: cover;
        border-radius: 50px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(5px);
        background-color: #00000038;
        border: 0.5px solid #707070;
        max-width: 500px;
        /* margin: 27px auto; */
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 21px;
    }
    .grediantBtn {
        background-image: linear-gradient(to right, #EB335B, #4A78EF);
        font-size: 12px;
        padding: 0px 20px;
        border-radius: 30px;
        margin-left: -10px;
    }
    
    .centerBorder {
        width: 1px;
        height: 70%;
        background: #707070;
    }
    
    .metaSpan {
        margin-left: 15px;
        font-size: 20px;
    }
    
    .btnDiv {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    

}


