.aitransform {
    border-top: 1px dashed #F32F5A;
    border-bottom: 1px dashed #F32F5A;
    padding: 30px 50px;
    background-image: url(../../public/artificialIntelligence/Images/aitransform-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.backss {
    background-color: #0000004a;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    color: blanchedalmond;
}

.secBtns {
    background-size: cover;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: #70707036;
    border: 0.5px solid #707070;
    max-width: 500px;
    margin: 27px auto;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;
}

@media only screen and (max-width: 568px) {
    .aitransform {
        padding: 30px 17px;
    }

    .f40 {
        font-size: 20px;
    }

    .f50 {
        font-size: 24px;
    }
}