.aipowerup {
    padding-bottom: 100px;

}

.backss {
    background-color: #0000004a;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    color: blanchedalmond;
}

@media only screen and (max-width:567px) {
    .aipowerup {
        padding-bottom: 0;

    }

}