.secSpacing {
    padding-bottom: 200px;
}

.feature {
    text-align: left;
    /* padding: 40px;
    margin-bottom: 10px; */
}

.feature {
    background-image: url(../../public/artificialIntelligence/Images/card.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 258px;
    width: 100%;
    transition: all 1s;
}

.feature:hover {
    background-image: url(../../public/artificialIntelligence/Images/card-1.png);

}


.grediantShadow {
    filter: drop-shadow(0px 3px 8px #F32F5A);
    text-outline: 1px solid white;
    background: linear-gradient(to right, #f32f5e, #4a78ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 3px 8px #F32F5A);
}

.feature span {
    text-align: center;
    color: #676767;
}

.gap2 {
    padding-left: 2rem;
    padding-right: 1.2rem;
}

.feature:hover span {
    color: var(--mry);
}

.knowMore {
    border: 1px solid #F32F5A;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

@media only screen and (max-width: 1399px) {
    .gaps {
        padding-top: 2rem !important;
    }
}

@media (max-width:1028px) {
    .feature {
        width: 525px;
        margin: auto;
    }

    .gap2 {
        padding: 0px;
    }

    .feature {
        height: 250px;
        width: 100%;
    }

}

@media (max-width:991px) {

    .feature {
        height: 350px;
        width: 100%;
    }

    .gaps {
        padding: 50px !important;
    }

    .gap2 {
        padding: 0px;
    }

    .secSpacing {
        padding-bottom: 50px;
    }
}

@media (max-width:767px) {

    .feature {
        height: 250px;
        width: 100%;
    }

    .gaps {
        padding: 20px !important;
    }

    .gap2 {
        padding: 0px;
    }

    .secSpacing {
        padding-bottom: 50px;
    }
}