.__hero .__formBox .__body form .__inputs input,
.__hero .__formBox .__body form .__inputs textarea {
    width: 100%;
    border: inherit;
    font-family: Poppins;
    padding: .5rem;
    color: var(--g-color);
    font-size: 16px;
    font-weight: 400
}

.__hero .__content ul li::before,
.__hero .__formBox .__head p::before,
.__hero .__nav ul li a::before {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: .6rem
}

.__hero {
    position: relative;
    height: 800px;
    overflow: hidden
}

.__hero .container,
.__hero .container .row {
    height: 100%
}

.__hero .__content .__logo a {
    display: block
}

.__hero .__content .__logo {
    position: relative;
    top: -25px
}

.__hero .__content {
    position: relative;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.__hero .__content::before {
    content: '';
    background-image: url(../media/hero/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin-left: -400px;
    background-color: #4c4c4c
}

.__hero .__formBox .__head,
.__hero .__nav {
    z-index: 1;
    position: relative
}

.__hero .__formBox .__head,
.__hero .__formBox .__head::after {
    background-color: var(--b-color)
}

.__hero .__content h1 {
    font-size: 50px;
    line-height: 60px;
    color: var(--w-color);
    margin-bottom: .6rem
}

.__hero .__content h6 {
    font-size: 20px;
    line-height: 30px;
    color: var(--w-color);
    font-weight: 600;
    margin-bottom: 1rem
}

.__hero .__content ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0
}

.__hero .__content ul li::before {
    content: '';
    background-image: url(../media/w-check.svg);
    width: 15px;
    height: 12px
}

.__hero .__content ul li {
    list-style: none;
    position: relative;
    font-size: 18px;
    line-height: 38px;
    color: var(--w-color)
}

.__hero .__content p {
    font-size: 22px;
    line-height: 32px;
    color: var(--w-color)
}

.__hero .__nav,
.__hero .__nav::after {
    background-color: var(--w-color)
}

.__hero .__formBox .__head::after,
.__hero .__nav::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin-right: -400px;
    content: ''
}

.__hero .__formBox .__head p {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: var(--w-color);
    text-align: center;
    font-weight: 400;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}

.__hero .__formBox .__head p a {
    display: inline-block;
    margin-left: .5rem
}

.__hero .__formBox .__head p::before {
    content: '';
    background-image: url(../media/hero/logos/w-phone.svg);
    width: 20px;
    height: 20px
}

.__hero .__formBox .__body {
    padding: 2rem 1rem
}

.__hero .__formBox .__body h2 {
    font-size: 28px;
    line-height: 36px;
    color: var(--w-color);
    text-align: center;
    margin-bottom: 1.5rem
}

.__hero .__formBox .__body form .__inputs {
    margin-bottom: 1rem
}

.__hero .__formBox .__body form .__inputs input {
    height: 40px;
    border-radius: 5px
}

.__hero .__formBox .__body form .__inputs input::placeholder {
    color: var(--g-color)
}

.__hero .__formBox .__body form .__inputs textarea {
    height: 120px;
    border-radius: 5px;
    resize: none
}

.__hero .__nav {
    height: 50px
}

.__hero .__nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%
}

.__hero .__nav ul li a {
    font-size: 16px;
    line-height: 26px;
    color: var(--b-color);
    position: relative
}

.__hero .__nav ul li a::before {
    content: '';
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px
}

.__hero .__nav ul li:first-child a::before {
    background-image: url(../media/hero/logos/email.svg)
}

.__hero .__nav ul li:nth-child(2) a::before {
    background-image: url(../media/hero/logos/b-phone.svg)
}

.__hero .__nav ul li:last-child a::before {
    background-image: url(../media/hero/logos/support.svg)
}

.__hero .__formBox .__body .__btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.__hero .__formBox .__body .__btn button {
    width: 120px;
    height: 40px;
    background-color: var(--b-color);
    color: var(--w-color);
    border: inherit;
    border-radius: 5px;
    cursor: pointer
}

.__hero .__formBox .__body .__btn p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--w-color)
}

.__hero .__formBox .__footer {
    padding: 0 1rem
}

.__hero .__formBox .__footer h3 {
    font-size: 25px;
    line-height: 35px;
    color: var(--w-color);
    text-align: center;
    margin-bottom: 1.5rem
}

.__hero .__formBox .__footer .__box {
    text-align: center
}

.__hero .__formBox .__footer .__box h6 {
    font-size: 18px;
    line-height: 28px;
    color: var(--w-color);
    font-weight: 400;
    font-family: "Poppins Medium", sans-serif;
    margin: .5rem 0
}

.__hero .__formBox .__footer .__box a {
    font-size: 13px;
    line-height: 21px;
    color: var(--w-color);
    font-weight: 400
}

.__hero .__logoSlides .slick-track {
    display: flex;
    align-items: center;
    margin-top: 5rem
}

.__hero .__logoSlides .slick-track .slick-slide:last-child img {
    margin: auto
}

@media screen and (min-width:1400px) {
    .__hero .__content {
        padding-left: 120px
    }
}

@media screen and (min-width:1200px) {
    .__hero .container {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto
    }

    .__hero .__content {
        padding-left: 80px
    }
}

@media screen and (min-width:992px) and (max-width:1299px) {

    .__hero .__content h6,
    .__hero .__content ul {
        margin-bottom: .5rem
    }

    .__hero .__content h1 {
        font-size: 40px;
        line-height: 45px
    }

    .__hero .__content h6,
    .__hero .__content ul li {
        font-size: 16px;
        line-height: 26px
    }

    .__hero .__content .__logo {
        top: 0;
        margin-bottom: 1rem
    }

    .__hero .__content p {
        font-size: 20px;
        line-height: 30px
    }

    .__hero .__formBox .__body h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: .8rem
    }

    .__hero .__formBox .__head p {
        font-size: 13px;
        line-height: 21px
    }

    .__hero .__formBox .__body form .__inputs input {
        height: 35px;
        font-size: 14px
    }

    .__hero .__formBox .__body form .__inputs textarea {
        height: 80px;
        font-size: 14px
    }

    .__hero .__formBox .__body .__btn p {
        font-size: 10px;
        line-height: 16px
    }

    .__hero .__formBox .__body .__btn button {
        height: 30px;
        font-size: 14px
    }

    .__hero .__formBox .__body {
        padding: 1rem
    }

    .__hero .__formBox .__footer h3 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 1rem
    }

    .__hero .__formBox .__footer .__box a {
        font-size: 12px;
        line-height: 16px
    }

    .__hero .__formBox .__footer .__box h6 {
        font-size: 16px;
        line-height: 22px;
        margin: .3rem 0
    }

    .__hero {
        height: 650px
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .__hero .__content::before,
    .__hero .__formBox .__head::after,
    .__hero .__nav::after {
        margin-left: -150px;
        margin-right: -150px
    }

    .__hero .__content {
        padding: 2rem 0
    }

    .__hero .__formBox {
        padding-bottom: 2rem
    }

    .__hero {
        height: inherit
    }
}

@media screen and (max-width:991px) {
    .__hero .__nav ul li a {
        font-size: 14px;
        line-height: 24px
    }

    .__hero .__formBox .__footer {
        padding: inherit
    }

    .__hero .__formBox .__body {
        padding: 2rem 0
    }

    .__hero .__content .__logo {
        top: 0;
        margin-bottom: 1rem
    }
}

@media screen and (max-width:767px) {
    .__hero {
        height: inherit
    }

    .__hero .__content::before,
    .__hero .__formBox .__head::after,
    .__hero .__nav::after {
        margin-left: -150px;
        margin-right: -150px
    }

    .__hero .__logoSlides .slick-track .slick-slide img {
        margin: auto
    }

    .__hero .__content p br {
        display: none
    }

    .__hero .__content h6 {
        font-size: 16px;
        line-height: 24px
    }

    .__hero .__content p {
        font-size: 18px;
        line-height: 26px
    }

    .__hero .__content {
        padding: 3rem 0
    }

    .__hero .__content h1 {
        font-size: 30px;
        line-height: 35px
    }

    .__hero .__logoSlides .slick-track {
        margin-top: 2rem;
        background-color: #00000047;
        backdrop-filter: contrast(0.5)
    }

    .__hero .__formBox {
        padding-bottom: 3rem
    }
}

@media screen and (max-width:575px) {
    .__hero .__content {
        padding: 5rem 1rem
    }

    .__hero .__formBox {
        padding-bottom: 1rem
    }

    .__hero .__formBox .__body .__btn p,
    .__hero .__formBox .__footer {
        display: none
    }

    .__hero .__formBox .__body h2 {
        font-size: 24px;
        line-height: 28px
    }

    .__hero .__content h6,
    .__hero .__formBox .__head p {
        font-size: 13px;
        line-height: 21px
    }

    .__hero .__content ul li {
        font-size: 13px;
        line-height: 30px
    }

    .__hero .__content p {
        font-size: 14px
    }
}