.__letStart .__content ._btnGroups a:first-child,
.__letStart .__content ._btnGroups a:last-child {
    width: max-content;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    padding: 0 .7rem;
    white-space: nowrap;
    display: block
}

.__letStart {
    position: relative;
    background-color: var(--b-color)
}

.__letStart .container {
    background: #ed017b;
    background: -moz-linear-gradient(top, #ed017b 0, #ed1644 100%);
    background: -webkit-linear-gradient(top, #ed017b 0, #ed1644 100%);
    background: linear-gradient(to bottom, #ed017b 0, #ed1644 100%);
    border-radius: 50px;
    padding: 5rem 2rem;
    position: relative
}

.__letStart .container::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../media/lets-talk.webp);
    height: 393px;
    width: 609px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1
}

.__letStart .__content h2 {
    font-size: 40px;
    line-height: 50px;
    font-family: Poppins;
    font-weight: 400;
    color: var(--w-color)
}

.__letStart .__content ._btnGroups {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem
}

.__letStart .__content ._btnGroups a:first-child {
    background-color: var(--w-color);
    color: var(--b-color);
    border: inherit;
    border-radius: 5px
}

.__letStart .__content ._btnGroups a:last-child {
    background-color: var(--b-color);
    color: var(--w-color);
    border: inherit;
    border-radius: 5px
}

@media screen and (max-width:1299px) {
    .__letStart .container {
        z-index: 1;
        padding: 5rem 1rem
    }

    .__letStart .container::before {
        z-index: -1;
        opacity: .5
    }

    .__letStart .__content h2 {
        font-size: 30px;
        line-height: 40px
    }
}

@media screen and (max-width:767px) {
    .__letStart .container::before {
        display: none
    }

    .__letStart .container {
        padding: 0 calc(var(--bs-gutter-x) * .5);
        background: inherit
    }

    .__letStart {
        background: #ed017b;
        background: -moz-linear-gradient(top, #ed017b 0, #ed1644 100%);
        background: -webkit-linear-gradient(top, #ed017b 0, #ed1644 100%);
        background: linear-gradient(to bottom, #ed017b 0, #ed1644 100%);
        padding: 50px 0
    }
}

@media screen and (max-width:575px) {
    .__letStart .__content h2 {
        font-size: 25px;
        line-height: 35px
    }
}