.__services .__content ._btnGroups a:first-child,
.__services .__content ._btnGroups a:last-child {
    width: max-content;
    height: 40px;
    line-height: 40px;
    padding: 0 .7rem;
    white-space: nowrap;
    display: block;
    text-align: center
}

.__services {
    position: relative;
    background-color: var(--b-color);
    padding-top: 100px;
    z-index: 1;
    overflow: hidden
}

.__services .__content h4 {
    font-size: 20px;
    line-height: 30px
}

.__services .__content h2 {
    font-size: 100px;
    line-height: 1;
    margin-bottom: 1rem
}

.__services .__content p {
    font-size: 14px;
    line-height: 24px;
    color: var(--w-color);
    width: 500px
}

.__services .__content ._btnGroups {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem
}

.__services .__content ._btnGroups a:first-child {
    background-color: var(--w-color);
    color: var(--b-color);
    border: inherit;
    border-radius: 5px;
    font-size: 14px
}

.__services .__content ._btnGroups a:last-child {
    background-color: #f52674;
    color: var(--w-color);
    border: inherit;
    border-radius: 5px;
    font-size: 14px
}

.__services .__box {
    margin-top: 2rem;
    cursor: pointer
}

.__services .__box img {
    filter: grayscale(1);
    transition: .3s
}

.__services .__box:hover img {
    filter: inherit
}

.__services .__box p {
    font-size: 14px;
    line-height: 24px;
    font-family: Poppins;
    font-weight: 600;
    color: #6c6c6c;
    transition: .5s
}

.__services .__box:hover p {
    color: #ed017c
}

.__services .__circle h4 {
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 1rem;
    font-family: Poppins;
    font-weight: 600
}

.__services .__circle {
    position: relative;
    text-align: center
}

.__services .__circle p {
    font-size: 14px;
    line-height: 24px;
    color: var(--w-color);
    width: 70%;
    margin: 0 auto
}

@media screen and (min-width:1300px) {
    .__services {
        padding-top: 355px
    }

    .__services::before {
        content: '';
        background-image: url(../media/services-txt.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        z-index: -1;
        top: 100px;
        left: 0;
        right: 0;
        width: 1250px;
        height: 355px;
        display: block;
        margin: auto;
        opacity: 0.8;
    }

    .__services .__circle::before {
        content: '';
        position: absolute;
        left: 0;
        top: -95%;
        right: -20%;
        bottom: 0;
        background-image: url(../media/circle.webp);
        height: 570px;
        background-size: auto;
        background-position: center center
    }

    .__services .container {
        overflow: hidden;
        padding-bottom: 200px
    }
}

@media screen and (min-width:1400px) {
    .__services::before {
        width: 1301px
    }
}

@media screen and (max-width:1299px) {
    .__services {
        padding-bottom: 100px
    }

    .__services .__content h2 {
        font-size: 80px
    }

    .__services .__content p {
        width: 700px
    }

    .__services .__circle p {
        width: 50%
    }

    .__services .row .row .col-lg-5,
    .__services .row .row .col-lg-7 {
        width: 100%
    }

    .__services .__circle {
        position: relative;
        text-align: center;
        background-image: url(../media/circle.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        height: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px
    }
}

@media screen and (max-width:991px) {
    .__services .__circle p {
        width: 60%
    }

    .__services .__box p {
        font-size: 12px;
        line-height: 20px
    }

    .__services .__content h2 {
        font-size: 65px
    }
}

@media screen and (max-width:767px) {

    .__services .__circle p,
    .__services .__content p {
        width: 100%
    }

    .__services .__content h2 {
        font-size: 45px
    }

    .__services .__box {
        text-align: center
    }

    .__services .__box img {
        display: block;
        margin: 0 auto .5rem
    }

    .__services .__circle {
        height: inherit;
        background-image: inherit;
        margin-top: 30px
    }

    .__services {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .__services .__circle h4 {
        font-size: 80px;
        line-height: 1;
        margin-bottom: 0
    }
}

@media screen and (max-width:575px) {
    .__services .__content h2 {
        font-size: 30px
    }

    .__services .__content p {
        text-align: justify
    }
}