.providecustom .video{
    position: absolute;
}
.providecustomweb .video img{
    margin-top: -120px;
    width: 90%;
    margin-left: auto;
    display: block;

}

.providecustomweb::before{
    position: absolute;
    content: '';
    background-image: url(../../public/servnew/customweb/bg.png);
    background-position: center 11%;
    background-size: 65%;
    width: 70%;
    height: 77%;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
}

.provideserv{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
}
.providecustomweb{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.providecustom{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.providecustom .create {
    width: unset;
}
.blocknew{
    display: flex;
    gap: 25px;
}
.create {
    width: 500px;
}
@media screen and (max-width: 1199px) { 

    .providecustomweb .video img {
        margin-top: unset;
        width: 90%;
        margin-left: auto;
        display: block;
    }

}
@media screen and (max-width: 991px) { 
    .provideserv{
        background-color: black;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .providecustom{
        background-color: black;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 767px) { 

    .blocknew {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    .create {
        width: unset;
    }

}

@media screen and (max-width: 480px) { 
    .provideserv{
        background-color: black;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .providecustom{
        background-color: black;
        padding-top: 50px;
        padding-bottom: 25px;
    }
}