.provideserv{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
}
.blocknew{
    display: flex;
    gap: 25px;
}
.create {
    width: 500px;
}

@media screen and (max-width: 767px) { 

    .blocknew {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    .create {
        width: unset;
    }

}