.metaWork {
    padding-top: 250px;
}

.ImageBack {
    position: absolute;
    width: 79.5%;
    top: 78px;
}

.relative {
    position: relative;
}

.br1 {
    border-right: 2px dashed #f32f5a45;
}

.bb1 {
    border-bottom: 1px dashed #f32f5a45;
}

.workContent {
    padding-left: 40px;
    padding-top: inherit;
}

.videoFront {
    width: 89%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 57%, 76% 100%, 0 100%, 0% 80%, 0% 20%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 57%, 76% 100%, 0 100%, 0% 80%, 0% 20%);
}

.centerBorder {
    width: 1px;
    height: 70%;
    background: #707070;
}

.video {
    width: 75%;
    margin: 0 auto;
    padding-top: 35px;
}

.workImage {
    width: 100%;
    object-fit: contain;
}

.contentPara {
    color: #7a7a7a;
    line-height: 30px;
}

.ml {
    margin-left: 40px;
    padding-bottom: 20px;
}

.metaDot img {
    position: absolute;
    bottom: 72.3%;
    left: 51%;
    transform: translate(-74%, -55%);
    z-index: 99999;
}

.metaDotTwo img {
    position: absolute;
    bottom: 22.8%;
    left: 48%;
    transform: translate(-1%, -53%);
    z-index: 99999;
}


.workBtn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 38px;
}

.imageHeight {
    min-height: 456px;
    padding-top: 40px;
    max-height: 440px;
}

.contentHeight {
    min-height: 348px;
    padding-top: 20px;
}

.video {
    width: 100%;
    height: 100%;
}

.ml .videoFront {
    width: 95%;
}

.ml .videoFront .video {
    padding-top: 35px;
}

@media screen and (max-width: 1399px) {
    .imageHeight {
        padding-top: 0px;
    }

    .workContent {
        padding-left: 5px;
    }

    .f22 {
        font-size: 20px;
    }

    .secBtns.secBtns2 {
        margin: 13px auto 27px 15px;
    }

    .imageHeight {
        max-height: 407px;
        min-height: 407px;
    }

    .contentHeight {
        min-height: 347px;
        padding-top: 20px;
        max-height: 407px;
    }

    .metaDot img {
        bottom: 71.5%;
    }

    .metaDotTwo img {
        bottom: 21.5%;
        left: 47.6%;
    }

    .ml .videoFront {
        width: 100%;
    }

    .ImageBack {
        width: 80.5%;
    }

    .videoFront {
        width: 92%;
    }
}

@media only screen and (max-width: 1199px) {
    .metaWork {
        padding-top: 125px;
    }
}

@media screen and (max-width: 991px) {
    .ImageBack {
        width: 90%;
    }

    .videoFront {
        width: 99.4%;
    }

    .imageHeight {
        max-height: 325px;
        min-height: 325px;
    }

    .metaDot img {
        display: none;
    }

    .metaDotTwo img {
        display: none;
    }

    .br1 {
        border-right: none;
    }

    .bb1 {
        border-bottom: none;
    }

    .ml {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .paddingTop {
        padding: 100px 0 0;
    }

    .metaWork {
        padding: 30px 0 0px;
    }

    .contentHeight {
        padding-top: 0;
    }

    .ImageBack {
        top: 48px;
    }

    .video {
        padding-top: 27px;
    }

    .videoFront {
        width: 100.6%;
    }

    .ml .videoFront .video {
        padding-top: 27px;
    }

    .ml .videoFront {
        width: 101%;
    }

    .relative {
        gap: 70px 0;
    }

}

@media screen and (max-width: 480px) {
    .ImageBack {
        top: 26px;
        ;
    }

    .ImageBack {
        width: 95%;
    }

    .contentHeight {
        min-height: 47px;
    }

    .contentHeight {
        max-height: 195px;
    }

    .contentPara {
        line-height: 22px;
    }

    .f22 {
        font-size: 16px;
    }

    .metaWork .secBtns.secBtns2 {
        gap: 5px;
        margin: 27px auto 27px 9px;
    }

    .workContent {
        padding-left: 0;
    }

    .secBtns.secBtns2 {
        margin: 27px auto 27px 9px;
    }

    .dNone {
        display: none;
    }
}