.developmentSec {
    padding: 250px 0;
}

@media only screen and (max-width: 1199px) {
    .developmentSec {
        padding: 125px 0;
    }
}

@media screen and (max-width: 480px) {
    .developmentSec {
        padding: 0px 0 20px;
    }

    .font55 {
        font-size: 30px;
    }

    .font15 {
        font-size: 13px;
    }

    .development {
        margin-top: 8px;
    }
}