.MetaBussiness {
    padding-top: 250px;
}

.MetaBussiness p {
    max-width: 990px;
    margin: 0 auto;
    font-weight: 300;
}

.bussinessImage {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

@media only screen and (max-width: 1199px) {
    .MetaBussiness {
        padding-top: 145px;
    }

}

@media screen and (max-width: 767px) {
    .MetaBussiness {
        padding: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .f50 {
        font-size: 30px;
        line-height: 40px;
    }
}