.creative2 {
    padding-bottom: 250px;
    background-color: black;
}

.dscool {
    display: flex;
    gap: 15px;
    z-index: 1;
    position: relative;
}

.dscool h3 {
    font-size: 23px;
    color: white;
    font-weight: bold;

}

.dscool p {
    font-size: 12px;
    color: white;

}

.dscool div {
    background: transparent;
    border-radius: 0;
    width: 100%;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 1%;
    border-image: linear-gradient(90deg, #4A78EF, #F32FC2, #F32F53) 30;
    border-width: 1px;
    border-style: solid;

}

.game h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    line-height: 1.2;

}

.game h3 {
    font-size: 35px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;

}

.creative {
    position: relative;
}

.tested img {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    bottom: -40px;
    z-index: 1;
}

@media screen and (min-width: 1900px) {

    .tested img {
        /* position: absolute; */
        /* width: 100%; */
        /* right: 0; */
        /* height: 864px; */
        bottom: 0;
        z-index: 1;
    }


}


@media screen and (max-width: 1600px) {

    .tested img {
        /* position: absolute; */
        /* width: 100%; */
        /* right: 0; */
        /* height: 100%; */
        bottom: 0;
        z-index: 1;
    }


}

@media screen and (max-width: 1400px) {

    .tested img {
        /* position: absolute; */
        /* width: 100%; */
        /* right: 0; */
        /* height: 688px; */
        bottom: 0;
        z-index: 1;
    }


}


@media screen and (max-width: 1200px) {

    .tested img {
        display: none;
    }

    .creative2 {
        padding-bottom: 50px;
        background-color: black;
    }

}

@media screen and (max-width: 767px) {

    .game h2 {
        font-size: 30px;

    }

    .game h3 {
        font-size: 20px;

    }

    .dscool h3 {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

}

@media screen and (max-width: 480px) {

    .game h2 {
        font-size: 30px;
    }

    .game h3 {
        font-size: 15px;
    }

    .dscool h3 {
        font-size: 25px;
    }

    .dscool {

        flex-direction: column;
    }

}