.engage {
    background-color: black;
    padding-top: 230px;
    padding-bottom: 0;
}

.forget {
    margin-bottom: 10%;
}

.forget h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.forget h2 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1.2;
}

.cont h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.cont p {
    font-size: 15px;
    line-height: 20px;
    color: white;
    /* height: 63px;
    overflow: auto; */
    padding-right: 10px;
}

.cont {
    align-items: center;
}

.longline {
    position: relative;
    margin-bottom: 85%;
}

.longline::before {
    position: absolute;
    content: '';
    background-image: url(../public/shark/1.png);
    width: 427px;
    height: 335px;
    background-size: cover;
    background-repeat: no-repeat;
}

.longline img {
    position: absolute;
    content: '';
    top: -160px;
    left: 20px;
}

.longline2 img {
    position: absolute;
    content: '';
    top: -73px;
    left: 20px;
}

.longline2 {
    position: relative;
    margin-bottom: 85%;
}

.longline2::before {
    position: absolute;
    content: '';
    background-image: url(../public/shark/1.png);
    width: 427px;
    height: 335px;
    background-size: cover;
    background-repeat: no-repeat;
}

.expertise {
    position: relative;
}

.bring {
    position: relative;
    top: 135px;
    left: 6%;
}


.longline1::before {
    position: absolute;
    content: '';
    background-image: url(../public/shark/2.png);
    width: 427px;
    height: 296px;
    background-size: cover;
    background-repeat: no-repeat;
    right: -55px;
}

.longline3 {
    position: relative;
    margin-bottom: 85%;
}

.longline3::before {
    position: absolute;
    content: '';
    background-image: url(../public/shark/2.png);
    width: 427px;
    height: 296px;
    background-size: cover;
    background-repeat: no-repeat;
    right: -55px;
}

.longline1 {
    position: relative;
    margin-bottom: 85%;
}

.expertise1 {
    position: relative;
}

.longline1 img {
    position: absolute;
    content: '';
    top: -140px;
    right: -45px;
}

.longline3 img {
    position: absolute;
    content: '';
    top: -170px;
    right: -45px;
}

.bring1 {
    text-align: right;
    position: relative;
    top: 110px;
    left: 6%;
}

.offers {
    position: relative;
    left: 9%;
    top: -70px;
}


@media screen and (max-width: 1199px) {

    .bring1 {
        text-align: left;

    }

    .expertise1 {
        position: relative;
        margin-top: 5%;
    }

    .longline1 img {
        left: 0;
    }

    .longline {
        position: relative;
        margin-bottom: 25%;
    }

    .offers {
        display: none;
    }

    .longline::before {
        display: none;
    }

    .longline1::before {
        display: none;
    }

    .longline1 {
        margin-bottom: 25%;
    }

    .longline1 {
        margin-bottom: 25%;
        width: 80%;
    }

    .longline {
        margin-bottom: 25%;
        width: 80%;
    }

}


@media screen and (max-width: 991px) {

    .forget {
        margin-bottom: 14%;
    }

    .longline {
        margin-bottom: 40%;
        width: 90%;
    }

    .longline1 {
        margin-bottom: 35%;
        width: 90%;
    }

    .longline img {
        top: -105px;
    }

}


@media screen and (max-width: 767px) {

    .forget h2 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        line-height: 1.3;
    }

    .longline {
        margin-bottom: 60%;
        width: 90%;
    }

    .longline1 {
        margin-bottom: 60%;
        width: 90%;
    }

    .cont p {
        font-size: 13px;
    }


}

@media screen and (max-width: 480px) {

    .forget {
        margin-bottom: 90px;
    }

    .longline {
        margin-bottom: 90%;
        width: 90%;
    }

    .longline1 {
        margin-bottom: 80%;
        width: 90%;
    }


    .forget h2 {
        font-size: 30px;
    }

    .forget h3 {
        font-size: 15px;
    }

    .cont h3 {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }


}