.altruist {
  background-color: #f3fbfc;
  padding: 85px 0;
}

.indusImgbox {
  text-align: center;
}

.indusImgbox img {
  width: 75%;
}

.industxt {
  width: 80%;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .altruist {
    padding: 50px 0;
  }

  .industxt {
    width: 100%;
    margin-top: 50px;
  }
}
