.bcDevSolution{
  padding: 85px 0;
}

.soluRow {
  row-gap: 25px;
}

.soluCard {
  background: #f1faf5;
  padding: 24px 16px;
  border-radius: 12px;
  height: 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.soluCard:hover {
  transform: scale(0.92);
}

.imgBox {
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soluCard h5 {
  padding-bottom: 12px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  border-bottom: 1px solid;
}

.soluCard p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

/* ================== */

.soluCard.one .imgBox {
  background: #00b06f;
}
.soluCard.one h5 {
  color: #00b06f;
  border-color: rgba(0, 176, 111, 0.24);
}
.soluCard.one p {
  color: #436d5e;
}

/* ================== */

.soluCard.two .imgBox {
  background: #0d7de7;
}
.soluCard.two h5 {
  color: #0d7de7;
  border-color: rgba(13, 125, 231, 0.24);
}
.soluCard.two p {
  color: #5d7b97;
}

/* ================== */

.soluCard.three .imgBox {
  background: #7e2ae5;
}
.soluCard.three h5 {
  color: #7e2ae5;
  border-color: rgba(126, 42, 229, 0.24);
}
.soluCard.three p {
  color: #856ba4;
}

/* ================== */

.soluCard.four .imgBox {
  background: #ff573c;
}
.soluCard.four h5 {
  color: #ff573c;
  border-color: rgba(255, 87, 60, 0.24);
}
.soluCard.four p {
  color: #b58d86;
}

/* ================== */

.soluCard.five .imgBox {
  background: #ffb800;
}
.soluCard.five h5 {
  color: #ffb800;
  border-color: rgba(255, 184, 0, 0.24);
}
.soluCard.five p {
  color: #b09c7d;
}

/* ================== */

.soluCard.six .imgBox {
  background: #00b7ca;
}
.soluCard.six h5 {
  color: #00b7ca;
  border-color: rgba(0, 183, 202, 0.24);
}
.soluCard.six p {
  color: #4d797d;
}


/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .bcDevSolution{
    padding: 50px 0;
  }

  .soluCard h5{
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {

  .bcDevSolution h2{
    font-size: 34px;
    line-height: 40px;
  }

  .soluRow {
   margin-top: 20px !important;
  }
}
