.cta1 {
  padding: 0 0 60px 0;
}

.cta1 .ctaRow {
  background-image: url(../public/images/BlockchainDvelpment/cta/cta1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  border-radius: 30px;
}

.bttnsto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.bttns1 {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 1s;
  border: 1px solid #fff;
}

.bttns1:hover {
  transition: background-color 1s;
  background-color: #fff;
  color: #000;
}

.bttns2 {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #fff;
  transition: background-color 1s;
}

.bttns2:hover {
  transition: background-color 1s;
  background-color: #fff;
  color: #000;
}

/* ===========cta2============= */

.cta2 {
  padding: 60px 0;
}

.cta2 .ctaRow {
  background-color: #fff8e5;
  border-radius: 30px;
  padding: 40px 60px 30px;
  align-items: center;
}

.cta2 h5 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  color: #0c1d3d;
}

.cta2 h5 span {
  font-weight: 800;
  display: block;
}

.cta2 .bttnsto {
  display: flex;
  justify-content: flex-start;
}

.cta2 .bttnsto .bttns1 {
  border-color: #000;
  color: #000;
}

.cta2 .bttnsto .bttns1:hover {
  color: #fff;
  background-color: #000;
}

/* ===========cta3============= */

.cta3 {
  background-color: #ebf5ff;
  padding: 60px 0;
}

.cta3 .ctaRow {
  background-color: #d3e7fe;
  padding: 40px 20px;
  border-radius: 24px;
  align-items: center;
}

.cta3 h5 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 800;
  color: #0c1d3d;
}

.cta3 .bttnsto {
  display: flex;
  justify-content: flex-start;
}

.cta3 .bttnsto .bttns1 {
  border-color: #000;
  color: #000;
}

.cta3 .bttnsto .bttns1:hover {
  color: #fff;
  background-color: #000;
}

.cta3 .imgBox {
  width: 98%;
  margin: 0 auto;
}

/* ===========cta4============= */

.cta4 {
  background-image: url(../public/images/BlockchainDvelpment/cta/cta4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}

.cta4 .ctaRow {
  justify-content: space-between;
}

.cta4 .bttnsto {
  display: flex;
  justify-content: flex-start;
}

.cta4 .bttnsto .bttns1 {
  border-color: #fff;
  color: #fff;
}

.cta4 .bttnsto .bttns1:hover {
  color: #000;
  background-color: #fff;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .cta1 h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px !important;
  }

  .cta2 .ctaRow,
  .cta3 .ctaRow {
    row-gap: 50px;
  }

  .cta4 .ctaRow h6 {
    font-size: 16px;
    line-height: 20px;
  }

  .cta4 .ctaRow h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* ===============Media Queries================ */

@media screen and (max-width: 767px) {
  .cta1 h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .cta1 .ctaRow {
    padding: 40px 0;
  }

  .cta1 {
    padding: 0 0 50px 0;
  }

  .cta2,
  .cta3,
  .cta4 {
    padding: 40px 0;
  }

  .cta2 .ctaRow {
    flex-direction: column-reverse;
    row-gap: 20px;
    padding: 30px;
  }

  .cta2 h5 {
    font-size: 24px;
    line-height: 34px;
  }

  .cta2 p {
    font-size: 16px;
  }

  .cta3 {
    padding: 30px 20px;
  }

  .cta3 h5 {
    font-size: 20px;
    line-height: 30px;
  }

  .cta3 .ctaRow {
    row-gap: 20px;
    padding: 15px;
  }

  .cta4 .ctaRow {
    flex-direction: column-reverse;
    row-gap: 25px;
  }

  .cta4 .ctaRow h4 {
    font-size: 22px;
    line-height: 32px;
  }
}
