.blogfaqs{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bttns1{
    background-image: linear-gradient(to right, #F32F5E, #4A78EF);
    width: 100%;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

