.creative2 {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 0px;
}

.dscool {
  display: flex;
  gap: 15px;
  z-index: 1;
  position: relative;
}

.dscool h3 {
  font-size: 30px;
  color: white;
  font-weight: bold;

}

.dscool p {
  font-size: 14px;
  color: white;
  height: 100px;
  overflow: auto;

}

.dscool .gredient {
  background: #202020;
  border-radius: 0;
  background-color: #202020;
  width: 100%;
  padding-top: 4%;
  padding-left: 3%;
  padding-right: 1%;
  border-image: linear-gradient(90deg, #4A78EF, #F32FC2, #F32F53) 30;
  border-width: 1px;
  border-style: solid;

}

.game h2 {
  font-size: 65px;
  font-weight: bold;
  color: white;
  line-height: 1.3;

}

.game h3 {
  font-size: 35px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;

}

.creative {
  position: relative;
}

.tested img {
  position: absolute;
  width: 990px;
  right: 0;
  height: 864px;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 1900px) {

  .tested img {
    position: absolute;
    width: 1044px;
    right: 0;
    height: 864px;
    bottom: 0;
    z-index: 1;
  }


}


@media screen and (max-width: 1600px) {

  .tested img {
    position: absolute;
    width: 889px;
    right: 0;
    height: 788px;
    bottom: 0;
    z-index: 1;
  }


}

@media screen and (max-width: 1400px) {

  .tested img {
    position: absolute;
    width: 789px;
    right: 0;
    height: 688px;
    bottom: 0;
    z-index: 1;
  }


}


@media screen and (max-width: 1200px) {

  .colname{
    width: 100%;
  }

  .tested img {
    display: none;
  }

  .creative2 {
    padding-bottom: 50px;
    background-color: black;
  }

}

@media screen and (max-width: 767px) {


  .creative2 {
    background-color: black;
    padding-top: 0px;
  
  }

  .game h2 {
    font-size: 30px;

  }

  .game h3 {
    font-size: 20px;

  }

  .dscool h3 {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

}

@media screen and (max-width: 480px) {

  .creative{
    text-align: center;
  }

  .game h2 {
    font-size: 30px;
  }

  .game h3 {
    font-size: 15px;
  }

  .dscool h3 {
    font-size: 25px;
  }

  .dscool {

    flex-direction: column;
}

}