.py120 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
.almost {
  align-items: center;
}
.sty {
  background-color: transparent;
  width: 55%;
  height: 45px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #000;
}
.projects {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  color: #000;
}
.analpost {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.analpost div {
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  font-size: 150px;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  gap: 20px;
  cursor: pointer;
}
.seen {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}
.analpost .active {
  border: 3px solid #fff;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 767px) {
  .analpost div {
    border: 1px solid #fff;
    width: 100%;
    text-align: center;
    height: auto;
    display: flex;
    font-size: 50px;
    justify-content: center;
    font-weight: 700;
    color: black;
    gap: 20px;
    cursor: pointer;
  }
}
