.caseChallengs {
  padding: 150px 0;
  background: #000;
}

.heading {
  background-image: url(../public/images/case-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0 ;
}

.headBox {
  display: flex;
  align-items: center;
  gap: 40px;
}

.heading svg {
  font-size: 30px;
  color: white;
}

.contnt a {
  color: white;
  font-weight: 800;
}

/* ============================================= */


@media screen and (max-width: 991px) {
  .heading {
    background-image: unset;
    padding: 0;
  }

  .heading svg {
    display: none;
  }

  .soulRow {
    flex-direction: column-reverse;
  }

  .headBox h2{
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .caseChallengs {
    padding: 25px 0;
  }
}
