.soul,
.mark,
.health,
.ride,
.trvel,
.bacteria,
.food {
  padding: 30px 0;
  background: #000;
}

.heading {
  background-image: url(../public/images/case-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.mid,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
}

/* ============SoulHarmony============ */

.soulHarmony .left {
  background-color: #e4f81e;
  color: #000;
}

.soulHarmony .right {
  background-color: #000000;
  border: 2px solid white;
  color: #fff;
}

/* ============MarkHarmony============ */

.left {
  background-color: #81ccc8;
  color: #000;
}

.mid {
  background-color: #a5d1cd;
  color: #fff;
}

.right {
  background-color: #efefef;
  color: #000;
}

/* travel */

.travel .right {
  background-color: #081213;
  color: #fff;
}

/* ============foodHarmony============ */

.food .left {
  background-color: #ff6600;
  color: #000;
}

.food .right {
  background-color: #000000;
  border: 2px solid white;
  color: #fff;
}

/* ============HealthHarmony============ */

.health .left {
  background-color: #7586d4;
  color: #000;
}

.health .mid {
  background-color: #000000;
  border: 2px solid white;
  color: #fff;
}

.health .right {
  background-color: #edeff5;
  color: #000;
}

/* ============RideHarmony============ */

.ride .left {
  background-color: #ff6600;
  color: #000;
}

.ride .right {
  background-color: #303439;
  color: #fff;
}

/* ============bacteria============ */

.bacteria .left {
  background-color: #b266fe;
  color: #000;
}

.bacteria .right {
  background-color: #000000;
  border: 2px solid white;
  color: #fff;
}

/* ============GameHarmony============ */

.game .left {
  background-color: #2c2cfc;
  color: #fff;
}

.game .right {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
}

/* ============================================= */

@media screen and (max-width: 991px) {
  .heading {
    background-image: unset;
  }

  .heading svg {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    padding: 0;
  }

  .heading h2 br {
    display: none;
  }

  .soul,
  .mark,
  .health,
  .ride,
  .trvel,
  .bacteria,
  .food {
    padding: 25px 0;
  }
}