.crmExamples {
  padding: 50px 0;
}

.crmContainer {
  width: 100%;
  max-width: 778px;
  margin: auto;
  position: relative;
}

.crmExmSlide {
  background: rgba(0, 0, 0, 0) url(../public/images/crmDev/crmTestibg.png)
    no-repeat scroll center 58px;
  margin: 35px 0 0;
  padding: 0 20px 25%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.crmExmSlide::before {
  background: rgba(0, 0, 0, 0) url(../public/images/crmDev/crmTestiarrow.png)
    no-repeat scroll center center;
  bottom: -40px;
  content: "";
  display: block;
  height: 248px;
  position: absolute;
  right: 134px;
  width: 131px;
  z-index: 1;
}

.crmSlider {
  position: relative;
  width: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.strpImg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
}

.topImg {
  background: #fff;
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  height: 418px;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.strpImg img {
  margin: 0 auto;
  padding: 2px 0;
}

.topTitle {
  text-align: center;
  flex: 0 0 100%;
  height: 82px;
  max-width: 100%;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 9px;
  color: #085281;
}

.ttlBtm {
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ttlBtm p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #085281;
  padding: 20px 0;
}

.btn {
  background-color: #272727;
  width: 100%;
  max-width: 280px;
  height: 45px;
  padding: 0 50px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  transition: background-color 2s;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .crmExamples {
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .crmExamples h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .soluRow {
    margin-top: 0px !important;
  }

  .crmExmSlide::before {
    display: none;
  }

  .crmExmSlide {
    background-size: 328px auto;
    padding: 0 13px 25%;
  }

  .topTitle {
    font-size: 17px;
    height: 52px;
    line-height: 65px;
  }


  .topImg {
    width: 90%;
    height: 174px;
    margin-top: 17px;
    margin-left: 17px;
  }

  .ttlBtm {
    margin-top: 10px;
  }

  .ttlBtm p{
    padding-top: 0;
  }
}
