.dosDont {
  padding: 50px 0;
}

.soluCol {
  padding: 0;
}

.soluCard {
  padding: 40px 20px;
  height: 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  border: solid 1px #ebf0f3;
  border-radius: 0;
  text-align: center;
}

.imgBox {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.soluCard h5 {
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.soluCard p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.dont {
  background-color: #f6f7f9;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .dosDont {
    padding: 50px 0;
  }

  .soluCard h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .dosDont h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
