.busniessgroth {
  background-color: #32c8ff;
  padding: 50px 0;
}

.cardMain {
  padding: 20px 20px 0;
  display: block;
}

.mainBox {
  background-color: #0a99cd;
}

.boxRow {
  justify-content: space-between;
}

.soluCard {
  border-radius: 12px;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.imgBox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  overflow: hidden;
}

.txtBox {
  width: 100%;
}

.soluCard h5 {
  margin-bottom: 0px;
}

.soluCard p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
}

.right {
  text-align: right;
}

.right img {
  height: 100%;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .boxRow {
    flex-direction: column-reverse;
  }
}
