.endorsements {
  padding: 60px 0;
}
.arrowBtn {
  font-size: 20px;
  font-weight: 800;
  font-family: Montserrat;
  color: black;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 3.5%;
}
.arrowBtn:hover {
  color: var(--p-color);
}
.arrowBtn img {
  margin-left: 2%;
}
.align {
  align-items: center;
  justify-content: space-between;
}

.arrowBtn span {
  transition: all 0.2s ease-in-out;
}

.arrowBtn span:hover {
  margin-right: 15px;
}

/* =================Media Queries=================== */

@media screen and (max-width: 991px) {
  .arrowBtn {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .endorsements,
  .endorsements p {
    text-align: center;
  }

  .arrowBtn {
    justify-content: center;
    text-align: center;
  }
}
