.dev{
  display: flex;
  background-color: #1E1E1E;
  border-radius: 50px;
  align-items: center;
  padding: 5%;
  padding-bottom: 50px;
}

.eve{
  width: 60%;
  padding-top: 4%;
}

.post{
  position: relative;
  width: 70%;
}
.post img{
  position: absolute;
  bottom: -245px;
}

.eve p{
  color: white;
  font-size: 13px;
}

.btnpost{
  width: 205px;
  height: 56px;
  background-color: #F32F53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  border-radius: 23px;
}