.myExpertise {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: #fff;
}

.expertRow {
  row-gap: 25px;
}

.exebox {
  font-size: 14px;
  color: #3f4e6d;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px;
  border: 1px solid #ddd;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #ddd;
  transition: all 0.5s ease-in-out;
}

.exebox:hover {
  box-shadow: 0px 0px 30px 0px #ddd;
  transform: scale(1.1);
}

.exebox h4 {
  font-size: 16px;
}

.exebox .sfi-box {
  padding: 35px;
  box-shadow: 0 0 3px 2px #e7ecee;
  -webkit-box-shadow: 0 0 3px 2px #e7ecee;
  -moz-box-shadow: 0 0 3px 2px #e7ecee;
  height: 100%;
}
