.serviceBox {
    padding-bottom: 50px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .swipe {
    background-color: #faf5f2;
  }
  
  .ahead {
    background-color: #fff;
  }
  
  .ensure {
    background-color: #dedfe5;
  }
  
  /* ======================= */
  
  .bttns1 {
    background-color: transparent;
    width: 100%;
    height: 45px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Montserrat";
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #000;
  }
  
  .bttns1:hover {
    transition: background-color 2s;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
  }
  
  .swapBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .swapBox h5 {
    line-height: 24px;
  }
  
  .swapBox p {
    line-height: 22px;
  }
  
  /* ===============Media Queries================ */
  
  @media screen and (max-width: 767px) {
    .serviceBox {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  