.game {
  background-image: url(../public/images/case-game/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game h1 {
  font-size: 200px;
  line-height: 180px;
  margin-top: 75px;
}

.game h3 {
  font-size: 25px;
  line-height: 35px;
  margin-top: 15px;
}

.game p {
  font-size: 20px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  width: 75%;
}

.bnrImg{
  text-align: center;
}

.bnrImg img{
  width: 100%;
}

/* ============================================= */

@media screen and (max-width: 1600px) {
  .game h1 {
    font-size: 190px;
    line-height: 170px;
  }
}

@media screen and (max-width: 1440px) {
  .game h1 {
    font-size: 215px;
    line-height: 190px;
  }

  .game p {
    font-size: 16px;
    line-height: 25px;
    width: 80%;
  }
}

@media screen and (max-width: 1366px) {
  .game h1 {
    font-size: 165px;
    line-height: 155px;
  }

  .game h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .game h1 {
    font-size: 140px;
    line-height: 130px;
  }

  .game h3 {
    font-size: 18px;
  }

  .game p {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .game h1 {
    font-size: 100px;
    line-height: 100px;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .game h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 20px;
  }

  .game h3 {
    margin-top: 0;
  }
}
