.newHomeBg {
  padding-top: 0px;
  padding-bottom: 170px;
  background: #000;
}

.newHomeBg h1 {
  /* max-width: 990px; */
  margin: 0 auto;
}

.para {
  font-size: 14px;
  color: white;
  margin-bottom: 0;
  /* height: 75px; */
}

.para1 {
  font-size: 14px;

  color: white;
}

.cardImage {
  min-height: 550px;
}

.app,
.app1,
.app2,
.app3,
.app4,
.app5,
.app6,
.app7,
.app8,
.app9,
.app10 {
  padding: 0 30px;
}

.app {
  border-radius: 30px;
  background-image: url(../public/blockchaindevelopment/images/gaming1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 435px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cardContent {
  margin-bottom: -45%;
}

.app10 .cardContent {
  margin-bottom: 0%;
}

.app9 .cardContent {
  margin-bottom: 0%;
}

.app4 .cardContent {
  margin-bottom: 0%;
}

.app5 .cardContent {
  margin-bottom: 0%;
}

.app1 {
  background-image: url(../public/blockchaindevelopment/images/gaming2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app1 .para {
  height: 105px;
}

.app2 .para {
  height: 125px;
}

.app2 {
  background-image: url(../public/blockchaindevelopment/images/gaming3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app2 .para {
  color: white;
}

.app3 {
  background-image: url(../public/blockchaindevelopment/images/gaming4.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 28px 9px 33px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 2%;
}

.book {
  width: 198px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app7 {
  background-image: url(../public/blockchaindevelopment/images/gaming8.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 210px;
  height: 533px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.app8 {
  background-image: url(../public/blockchaindevelopment/images/gaming9.png);
  background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 210px;
    height: 533px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.app9 {
  background-image: url(../public/blockchaindevelopment/images/gaming10.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 457px;
}

.app10 {
  background-image: url(../public/blockchaindevelopment/images/gaming11.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 457px;
}

.app4 {
  background-image: url(../public/blockchaindevelopment/images/gaming5.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 457px;
}

.para2 {
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 75px;
}

.para3 {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 75px;
}

.app5 {
  background-image: url(../public/blockchaindevelopment/images/gaming6.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 457px;
}

.app6 {
  background-image: url(../public/blockchaindevelopment/images/gaming7.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 210px;
  height: 533px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pick {
  display: flex;
}

.power {
  width: 100%;
}

.custom {
  width: 75%;
}

@media screen and (min-width: 1500px) {
  .app3 {
    padding: 30px 28px 9px 33px;
  }

  .app {
    height: 533px;
  }

  .app1 {
    height: 533px;
  }

  .app2 {
    height: 533px;
  }

  .app4,
  .app5,
  .app9,
  .app10 {
    height: 532px;
  }

  .custom {
    width: 65%;
  }
}

@media screen and (max-width: 1400px) {
  .app {
    height: 456px;
  }

  .app1 {
    height: 456px;
  }

  .app2 {
    height: 456px;
  }

  .app6 {
    height: 456px;
  }

  .app7 {
    height: 456px;
  }

  .app8 {
    height: 455px;
  }
}

@media screen and (max-width: 1200px) {
  .app4 {
    height: auto;
  }

  .app5 {
    height: auto;
  }

  .app3 {
    background-size: contain;
    padding: 30px 28px 9px 33px;
  }

  .app3 img {
    max-width: 24%;
    margin-top: 2%;
  }

  .app7 {
    height: auto;
  }
}

@media screen and (max-width: 991px) {

  .app,
  .app1 {
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    padding-top: 50px;
    padding-bottom: 0px;
    height: 431px;
    border: 3px solid #4a78ef;
    border-radius: 26px;
  }

  .cardContent {
    margin-bottom: -25%;
  }

  .app2 {
    height: 878px;
  }

  .app3 {
    background-size: contain;
    height: 232px;
  }

  .para1 {
    width: 60%;
  }

  .app4,
  .app5 {
    height: 282px;
  }

  .app4 p,
  .app5 p,
  .app6 p,
  .app7 p {
    height: auto;
  }

  .app6,
  .app7 {
    height: 431px;
    background-size: contain;
  }

  .app8 {
    background-size: contain;
    height: 875px;
  }

  .app9,
  .app10 {
    background-size: contain;
    height: 601px;
  }
}

@media screen and (max-width: 767px) {

  .newHomeBg {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pick {
    display: flex;
    flex-direction: column;
  }

  .power {
    width: 100%;
  }

  .app6 {
    height: 466px;
  }

  .app {
    height: 466px;
  }

  .app1 {
    height: 466px;
  }

  .app2 {
    height: 466px;
  }

  .app4 {
    height: 341px;
  }

  .app5 {
    height: 333px;
  }

  .app7 {
    height: 463px;
  }

  .app8 {
    height: 463px;
  }

  .app9 {
    height: 339px;
  }

  .app10 {
    height: 339px;
  }

  .app,
  .app1,
  .app2,
  .app3,
  .app4,
  .app5,
  .app6,
  .app7,
  .app8,
  .app9,
  .app10 {
    padding: 0 15px;
  }

  .app3 {
    background-size: contain;
    height: 265px;
  }

  .para1 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  .app,
  .app1,
  .app2 {
    height: 454px;
    background-size: contain;
    margin-bottom: 0;
    border: 0;
  }

  .app6 {
    height: 461px;
  }

  .app4,
  .app5,
  .app9,
  .app10 {
    height: 309px;
    background-size: contain;
  }

  .app3 {
    background-size: contain;
    height: 265px;
    border: 3px solid #4a78ef;
    border-radius: 23px;
  }

  .app1 .para,
  .para2,
  .para3 {
    height: unset;
  }

  .cardContent {
    margin-bottom: 0;
  }

  .book,
  .about {
    font-size: 12px;
  }
}