.atten{
  display: flex;
  justify-content: space-around;
}
.global{
  padding-bottom: 50px;
  padding-top: 70px;
}

.develop{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 0;
  line-height: .3;
}
.sucees{
  font-size: 130px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, #F32F53, #F32FC2, #4A78EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nextalign1{
  display: none;
}

@media screen and (max-width: 1200px) {

  .sucees {
    font-size: 45px;
    line-height: 2;
  }

}

@media screen and (max-width: 991px) {

  .sucees {
    font-size: 40px;
  }

}

@media screen and (max-width: 767px) {


  .nextalign1{
    display: block;
  }
  .atten{
    display: none;
  }


  .atten {
    flex-wrap: wrap;
}

  .sucees {
    font-size: 35px;
    line-height: 2.5;
  }

  .develop{
    font-size: 20px;
  }

}

@media screen and (max-width: 480px) {

  .sucees {
    font-size: 30px;
    
  }
  

}