.healthBanner {
  background-image: url(../public/images/case-health/banner.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background: #000;
}

.heading::before {
  content: "";
  background-image: url(../public/images/case-health/doc.png);
  background-repeat: no-repeat;
  background-size: 60%;
  display: block;
  position: absolute;
  right: -315px;
  bottom: 0;
  width: 65%;
  height: 95%;
}

.heading h1 {
  margin-top: 110px;
  margin-left: -15px;
  font-size: 245px;
  line-height: 220px;
}

.contnt h2 {
  font-size: 27px;
  line-height: 35px;
}

.contnt p {
  width: 80%;
  font-size: 20px;
}

.mblImg {
  display: none;
}

/* ============================================= */

@media screen and (max-width: 1600px) {
  .heading::before {
    background-size: 60%;
    right: -272px;
    width: 65%;
    height: 725px;
  }

  .heading h1 {
    margin-top: 95px;
    font-size: 240px;
    line-height: 210px;
  }

  .contnt h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .contnt p {
    width: 80%;
    font-size: 16px;
  }
}

@media screen and (max-width: 1536px) {
  .heading::before {
    background-size: 60%;
    right: -272px;
    width: 65%;
    height: 725px;
  }

  .heading h1 {
    margin-top: 95px;
    font-size: 240px;
    line-height: 210px;
  }
}

@media screen and (max-width: 1440px) {
  .heading::before {
    height: 707px;
  }

  .contnt p {
    width: 78%;
  }
}

@media screen and (max-width: 1366px) {
  .heading::before {
    height: 685px;
    right: -230px;
  }

  .heading h1 {
    font-size: 210px;
    line-height: 175px;
  }

  .contnt h2 {
    font-size: 23px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .healthBanner {
    background-position: inherit;
  }

  .heading::before {
    background-size: 63%;
    right: -240px;
    height: 742px;
  }

  .heading h1 {
    margin-top: 45px;
    font-size: 210px;
    line-height: 185px;
  }
}

@media screen and (max-width: 1024px) {
  .healthBanner {
    background-image: unset;
  }

  .heading::before {
    display: none;
  }

  .heading h1 {
    font-size: 80px;
    line-height: 80px;
    margin-left: -5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contnt h2 br {
    display: none;
  }

  .contnt p {
    width: 100%;
    text-align: justify;
  }

  .mblImg {
    display: block;
  }
}
