.wants {
  padding: 100px 0;
  background: #000;
}

.wants h2 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.wants h2 span {
  background: linear-gradient(to right, #eb335b 35%, #4a78ef 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wants p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.wants ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;
}

.wants ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.wants ul li img {
  width: 18px;
}

.wants ul li span {
  color: #fff;
  font-size: 16px;
}

.wantBox {
  padding: 40px 20px 20px;
  border-image: linear-gradient(0deg, #f32f5e, #4a78ef) 30;
  border-width: 4px;
  border-style: solid;
  border-bottom: 0px;
}

.wantBox h3 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.wantBox p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.timing {
  padding-top: 15px;
  border-top: 1px solid #707070;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.timeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.timeBox h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.timeBox p {
  font-size: 16px;
  margin-bottom: 0;
}

.wantBox a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.wantBox a span {
  background: linear-gradient(to left, #4a78ef 0%, #eb335b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
}
