.foody {
    padding-top: 10%;
    padding-bottom: 50px;
    background: #000;
    background-image: url(../public/images/case-monkey/banner-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.foodRow {
    position: relative;
}

.foody h1 {
    font-size: 200px;
    line-height: 180px;
    margin-top: 75px;
    color: white;
}

.foody h3 {
    font-size: 25px;
    line-height: 35px;
    margin-top: 15px;
    color: white;
}

.foody p {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    z-index: 2;
    width: 75%;
    color: white;
}

.foody .banImg {
    position: absolute;
    right: 0;
    top: -12%;
    z-index: 1;
}

/* ============================================= */

@media screen and (max-width: 1600px) {
    .foody h1 {
        font-size: 170px;
        text-transform: uppercase;
        line-height: 170px;
    }
}

@media screen and (max-width: 1440px) {
    .foody h1 {
        font-size: 215px;
        line-height: 190px;
    }

    .foody p {
        font-size: 16px;
        line-height: 25px;
        width: 80%;
    }

    .foody .banImg {
        width: 65%;
    }
}

@media screen and (max-width: 1366px) {
    .foody .banImg {
        width: 70%;
        top: 2%;
    }

    .foody h1 {
        font-size: 165px;
        line-height: 155px;
    }

    .foody h3 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 15px;
    }

}

@media screen and (max-width: 1024px) {
    .foody h1 {
        font-size: 140px;
        line-height: 130px;
    }

    .foody h3 {
        font-size: 18px;
    }

    .foody p {
        width: 100%;
    }

}

@media screen and (max-width: 991px) {

    .foody h1 {
        font-size: 100px;
        line-height: 100px;
        margin-top: 0;
    }

    .foody .banImg {
        width: 100%;
        position: unset;
    }
}

@media screen and (max-width: 767px) {
    .foody h1 {
        font-size: 60px;
        line-height: 60px;
        margin-top: 20px;
    }

    .foody h3 {
        margin-top: 0;
    }
}