.industry {
  background-color: #f3fcf4;
  padding: 85px 0;
}

.indusImgbox {
  text-align: center;
}

.indusImgbox img {
  width: 75%;
}

.industxt {
  width: 80%;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .industry {
    padding: 50px 0;
  }

  .industxt {
    width: 100%;
    margin-top: 50px;
  }
}

/* ===============Media Queries================ */

@media screen and (max-width: 767px) {

  .industry h2{
    font-size: 26px;
  }
}
