.indusblk {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.indusblk {
  background-color: #f3f3f3;
  margin-top: 50px;
}
.indusblk li {
  display: inline-block;
  width: 100%;
  padding-top: 40px;
  max-width: 220px;
  font-size: 16px;
  font-size: 16px;
}
.indusblk li p {
  color: #000;
}
.indusblk li img {
  margin-bottom: 18px;
}
