.Offer{
    margin-top: 100px;
    margin-bottom: 100px;
}

.help{
    display: flex;
    align-items: center;
    gap: 30px;
}

.into{
    position: relative;
}
.into:after {
    position: absolute;
    content: '';
    background-color: #c7c8c9;
    width: 1px;
    height: 100px;
    top: 0;
    right: 0;
}