.Integration {
  background-image: url(../public/images/integration/integration-bg.webp);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}

.arrowBtn1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  font-family: Montserrat;
  text-transform: uppercase;
  color: var(--p-color);
  display: flex;
  margin-bottom: 2px;
  margin-top: 5%;
  align-items: flex-end;
  gap: 10px;
}

.arrowBtn:hover,
.arrowBtn1:hover {
  color: var(--p-color);
}

.arrowBtn img {
  margin-left: 1%;
}

.arrowBtn span,
.arrowBtn1 span {
  transition: all 0.3s ease-in-out;
}

.arrowBtn span:hover,
.arrowBtn1 span:hover {
  margin-right: 15px;
}

/* =================Media Queries=================== */

@media screen and (max-width: 991px) {
  .Integration {
    background-image: unset;
    background-color: #000;
  }
}

@media screen and (max-width: 767px) {
  .Integration {
    padding: 80px 0;
    text-align: center;
  }

  .Integration p {
    text-align: center;
  }

  .arrowBtn1 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
  }
}
