.serve {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.qualitu {
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
}

.dev h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dev p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #707070;
}

.dev {
  text-align: center;
  padding: 20px;
  height: 100%;
  border-bottom: 3px solid #E4E4E4;
  border-right: 3px solid #E4E4E4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.dev img {
  margin-bottom: 5%;
}

.dev1 {
  text-align: center;
  padding: 20px;
  height: 100%;
  border-bottom: 3px solid #E4E4E4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dev1 h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dev1 p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #707070;
}

.dev1 img {
  margin-bottom: 5%;
}



.dev2 {
  text-align: center;
  padding: 20px;
  height: 100%;
  border-right: 3px solid #E4E4E4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12%;
}

.dev2 h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dev2 p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #707070;
}

.dev2 img {
  margin-bottom: 5%;
}





.dev3 {
  text-align: center;
  padding: 20px;
  height: 100%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12%;
}

.dev3 h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dev3 p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #707070;
}

.dev3 img {
  margin-bottom: 5%;
}

.nextalign1 {
  display: none;
}


@media screen and (min-width: 1500px) {


  .dev h3 {
    font-size: 20px;
  }

  .dev1 h3 {
    font-size: 20px;
  }

  .dev2 h3 {
    font-size: 20px;
  }

  .dev3 h3 {
    font-size: 20px;
  }


  .dev3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }

  .dev2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }

  .dev1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }

  .dev p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }



}


@media screen and (min-width: 1700px) {


  .dev3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }

  .dev2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }

  .dev1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }

  .dev p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #707070;
  }



}




@media screen and (max-width: 1200px) {


  .apps {
    display: none;
  }

  .nextalign1 {
    display: block;
  }


  .dev {
   
    border-bottom: unset;
    border-right: unset;
  }
  .dev1 {
   
    border-bottom: unset;
    border-right: unset;
  }
  .dev2 {
    text-align: center;
    border-bottom: unset;
    border-right: unset;
  }
  .dev3 {
    text-align: center;
    border-bottom: unset;
    border-right: unset;
  }


  .dev img {
   display: block;
   margin: 0 auto;
   
  }
  .dev1 img {
    display: block;
    margin: 0 auto;
    
  }
  .dev2 img {
    display: block;
    margin: 0 auto;
  }
  .dev3 img {
    display: block;
    margin: 0 auto;
  }



}


@media screen and (max-width: 991px) { 
  .qualitu{
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) { 
  .qualitu{
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) { 
  .qualitu{
    font-size: 25px;
    margin-bottom: 30px;
  }
}