.marketingExpertise {
  padding: 50px 0 0;
}

.mservice {
  padding-bottom: 0;
  margin-top: 10px;
}

.mservice li {
  background-color: #d5ebf9;
  margin-bottom: 13px;
  font-size: 17px;
  color: black;
  font-weight: 500;
}

.mservice li img {
  margin-right: 10px;
}

.bgcolor {
  background: #f6fafd;
  position: relative;
}


@media screen and (max-width: 480px) { 

  .mservice {
    padding: 0;
}

.mservice li img {
  display: none;
}
.mservice li {
  padding: 15px;
}

  }