.myReason {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  background: url(../public/images/bg-kp.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.bttns1 {
  background-color: transparent;
  width: 100%;
  height: 45px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #000;
}

.bttns1:hover {
  transition: background-color 2s;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.soluRow {
  row-gap: 25px;
}

.soluCard {
  background: #fff;
  padding: 25px 25px 80px;
  height: 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

.soluCard:hover {
  transform: scale(1.05);
  background-color: #000;
}

.soluCard:hover h6{
  color: #5a5a5a;
}

.soluCard:hover h5,
.soluCard:hover p {
  color: #fff;
}

.soluCard h6 {
  color: #dee3e9;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 0;
  font-style: italic;
}

.soluCard h5 {
  margin-bottom: 10px;
  letter-spacing: -1px;
  color: black;
}

.soluCard p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #144463c4;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .myReason {
    padding: 50px 0;
  }

  .soluCard h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .myReason h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .soluRow {
    margin-top: 0px !important;
  }
}
