.services {
  padding: 50px 0 80px;
  background: #000;
  background-image: url(../public/images/new-case-page/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  margin-bottom: 40px;
}

.services h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.services h3 span {
  color: #f32f53;
}

.services p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.services p img {
  margin-top: 5px;
}

.servImg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 50px;
}

/* ========================================== */

@media screen and (max-width: 1399px) {
  .servImg {
    gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .wants {
    padding: 50px 0 50px;
    background-image: none;
  }

  .wants h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

/* ========================================== */

@media screen and (max-width: 767px) {
  .wants {
    padding: 50px 0;
  }

  .wants h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .wants p {
    align-items: flex-start;
  }

  .wants img {
    margin-top: 6px;
  }
}
