.newHomeBg {
  padding-bottom: 200px;
  background: #000;
}

.newHomeBg h1 {
  max-width: 990px;
  margin: 0 auto;
}

.para {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  color: #fff;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.para1 {
  font-size: 14px;

  color: white;
}

.cardImage {
  min-height: 550px;
}

.app {
  border-radius: 15px;
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  background-image: url(../public/newHomePage/images/game1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 60px;
  height: 531px;
}

.app1 {
  border-radius: 15px;
  background-image: url(../public/newHomePage/images/game2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 60px;
  height: 531px;
  /*3*/
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
}

.app1,
.app2,
.app,
.app4,
.app5,
.app7 {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 40px;
}

.app6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 0;
}

.power {
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
}

.para2 {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  height: 65px;
  overflow: auto;
}

.para9 {
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  overflow: auto;
}

.app2 .para {
  height: 125px;
}

.app2 {
  border-radius: 15px;
  /*1*/
  background-image: url(../public/newHomePage/images/game3.png);
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 60px;
  height: 531px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.app2 .para {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.app3 {
  background-image: url(../public/newHomePage/images/game4.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px 28px 9px 33px;
  height: 460px;
  display: flex;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 2%;
}

.book {
  width: 198px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 258px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app4 {
  border-radius: 15px;
  background-image: url(../public/newHomePage/images/game5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  padding-top: 50px;
  padding-bottom: 20px;
  height: 531px;
}

.app7 {
  border-radius: 15px;
  background-image: url(../public/newHomePage/images/game7.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  padding: 50px 15px 20px;
  height: 531px;
}

.para3 {
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.possibilities {
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.app5 {
  border-radius: 15px;
  /*1*/
  background-image: url(../public/newHomePage/images/game6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 531px;
}

.app6 {
  border-radius: 15px;
  background-image: url(../public/newHomePage/images/game8.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*3*/
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);

  padding-bottom: 20px;
  height: 531px;
}

.pick {
  display: flex;
}

.power p {
  max-width: 450px;
}

.custom {
  width: 75%;
}

@media screen and (min-width: 1500px) {
  .app3 {
    padding: 30px 28px 9px 33px;
  }

  .app {
    height: 530px;
  }

  .app1 {
    height: 530px;
  }

  .app2 {
    height: 530px;
  }

  .app4,
  .app5 {
    height: 531px;
  }

  .custom {
    width: 65%;
  }
}

@media screen and (max-width: 1399px) {

  .app,
  .app1,
  .app2 {
    height: 456px;
  }

  .app4,
  .app5,
  .app6,
  .app7 {
    height: 457px;
  }

}

@media screen and (max-width: 1200px) {
  .newHomeBg {
    padding-bottom: 50px;
    background: #000;
  }

  .app4 {
    height: auto;
  }

  .app5 {
    height: auto;
  }

  .app3 {
    background-size: cover;
    padding: 30px 28px 9px 33px;
  }

  .app3 img {
    max-width: 24%;
    margin-top: 2%;
  }

  .app7 {
    height: auto;
  }
}

@media screen and (max-width: 991px) {

  .app1,
  .app {
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    padding-top: 50px;
    padding-bottom: 0px;
    padding: 50px 15px 0;
    height: 428px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app2 {
    height: 878px;
  }

  .app3 {
    height: 231px;
  }

  .app4,
  .app5 {
    height: 282px;
    padding: 50px 15px 0;
    border: 3px solid #4a78ef;
  }

  .app6 {
    height: 431px;
  }

  .app7 {
    height: 877px;
  }

  .para {
    font-size: 16px;
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .newHomeBg {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pick {
    display: flex;
    flex-direction: column;
  }

  .power {
    width: 100%;
  }

  .app6 {
    height: auto;
  }

  .app {
    height: auto;
  }
}

@media screen and (max-width: 480px) {

  .book,
  .about {
    font-size: 10px !important;
  }

  .app,
  .app1,
  .app2,
  .app7 {
    padding: 30px 28px 20px 33px;
    height: 467px;
    background-size: contain;
  }

  .app3 {
    height: 360px;
    border: 3px solid #4a78ef;
    border-radius: 14px;
  }

  .app4,
  .app5 {
    height: 305px;
    background-size: contain;
    border: none;
  }

  .app6 {
    padding: 45px 12px 20px 7px;
    height: 227px;
    background-size: contain;
  }

  .newHomeBg h1 {
    font-size: 30px;
  }
}