.banner {
  background-image: url(/images/banner/homebannernewdsign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;
}

.php {
  padding-top: 70px;

}

.php h2 {
  text-transform: uppercase;
  position: relative;
  left: -5px;
}

.book {
  width: 198px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {

  width: 198px;
  height: 45px;

  background-image: linear-gradient(to right, #F32F53, #F32FC2, #4A78EF);

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 3%;
}

@media screen and (min-width: 1500px) {

  .php h3 {
    font-size: 40px;
  }

  .php h2 {
    font-size: 80px;
  }

  .php p {
    font-size: 18px;
  }

}

@media screen and (min-width: 1800px) {



  .php h3 {
    font-size: 55px;
  }

  .php h2 {
    font-size: 100px;
  }

  .php p {
    font-size: 23px;
    line-height: 1.3;
  }



}


@media screen and (max-width: 1280px) {


  .banner {

    height: unset;
    padding-top: 100px;
    padding-bottom: 100px;
  }



  .php h3 {
    font-size: 31px;
  }

  .php h2 {
    font-size: 50px;
  }

  .php p {
    font-size: 12px;
    line-height: 1.3;
  }


}


@media screen and (max-width: 991px) {


  .php p {
    font-size: 16px;
    line-height: 1.3;
  }

  .banner {
    padding-top: 0px;
    padding-bottom: 80px;
  }

}


@media screen and (max-width: 480px) {


  
  .php h3 {
    font-size: 21px;
  }

  .php h2 {
    font-size: 40px;
    line-height: 1.3;
  }

  .php p {
    font-size: 16px;
    line-height: 1.3;
  }



 }