.lpForm {
  background-color: #000;
  padding: 50px 0;
}

.newForm input {
  background-color: #fff;
  height: 50px;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000;
}

.newForm ::placeholder {
  color: #000;
}

.newForm .notice {
  background: linear-gradient(
    180deg,
    rgba(116, 25, 227, 1) 0%,
    rgba(243, 47, 92, 1) 100%
  );
  color: #fff;
  font-weight: 600;
}
