.hearfelt {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.hearfelt:before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
}

.hearfelt ul li span img {
    margin-right: 8px;
}

.rightpadding {
    border: 4px solid black;
    padding: 4%;
    height: 600px;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}


.rightpadding:hover,
.leftpadding:hover {
    border-color: #F32F5C;
}

.leftpadding {
    border: 4px solid black;
    padding: 4%;
    height: 600px;
    overflow: auto;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.makes {
    text-align: center;
    padding-bottom: 60px;
}

.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background: transparent;
    transition: 1s ease-in-out;
    height: 45px;
    margin-top: 20px;
    color: black;
}

.arrowBtn:hover {
    background: #000;
    transition: 1s ease-in-out;
    color: white;
}

.arrowBtn img {
    margin-left: 3%;
}

.arrowBtn span {
    letter-spacing: 0.8px;
    transition: all 0.2s ease-in-out;
}

/* .arrowBtn span:hover {
    margin-right: 15px;
  } */

/* =================Media Queries=================== */

@media screen and (max-width: 1200px) {
    .hearfelt:after {
        background-image: none;
        margin: 0;
    }

    .makes {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {

    .rightpadding,
    .leftpadding {
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {

    .leftpadding {
        height: 100%;
    }


    .rightpadding {
        height: 100%;
    }

    .makes {
        padding-bottom: 25px;
    }

    .arrowBtn {
        justify-content: center;
    }

    .cardImg {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .crdImg {
        width: 80%;
    }

    .cardImg img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .rightpadding img {
        display: none;
    }

    .leftpadding img {
        display: none;
    }
}