.workBg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.workBg .workText {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  padding: 35px 80px 50px 50px;
}

.workBg.food {
  background-image: url(/images/ourwork/Find-Food-bg.jpg);
}

.workBg.food .workText {
  background-image: url(/images/ourwork/FindFoods.jpg);
}

.workBg.sound {
  background-image: url(/images/ourwork/sound-bg.jpg);
}

.workBg.sound .workText {
  background-image: url(/images/ourwork/SoulSound.jpg);
}

.workBg.health {
  background-image: url(/images/ourwork/pro-health-bg.jpg);
}

.workBg.health .workText {
  background-image: url(/images/ourwork/PROhealth.jpg);
}

.workBg.ride {
  background-image: url(/images/ourwork/ez-ride-bg.jpg);
}

.workBg.ride .workText {
  background-image: url(/images/ourwork/EZRide.jpg);
}

.workBg.travel {
  background-image: url(/images/ourwork/blis-travel-bg.jpg);
}

.workBg.travel .workText {
  background-image: url(/images/ourwork/Bliss.jpg);
}

.workBg.mark {
  background-image: url(/images/ourwork/market-place-bg.jpg);
}

.workBg.mark .workText {
  background-image: url(/images/ourwork/market-place.jpg);
}

.workImg {
  margin-left: -100px;
  margin-top: 23px;
}

.workBg h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.workBg p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
}

.bttns1 {
  background-color: #fff;
  width: 50%;
  height: 45px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.bttns1:hover {
  transition: background-color 2s;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (max-width: 991px) {
  .workBg {
    height: auto;
    background-position: unset;
  }

  .workImg {
    margin-left: 0;
    margin-top: 0;
  }

  .workBg .workText {
    padding: 35px 20px;
    background-position: unset;
  }
}
