.serveimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plays {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tabp {
    background-color: #f1f1f1;
    color: black;
    padding: 45px;
    height: auto;

}

.serveimg a {
    color: black;
    border: 2px solid black;
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    margin-right: 1%;
    margin-bottom: 2%;
    font-size: 16px;
    font-weight: 500;

}

.active {
    background-color: black;
    color: white !important;
}

@media screen and (max-width: 480px) {



   

    .serveimg a {
        text-align: center;
        display: block;
        width: 100%;
        white-space: nowrap;
        padding: 10px 19px;
        font-size: 12px;
    }
    .serveimg {
        display: flex;
        flex-wrap: unset;
        overflow-y: auto;
        justify-content: unset;
  
    }

}