.process {
  padding: 85px 0;
}

.procesHead {
  margin-bottom: 60px;
}

.procesHead h3 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 900;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.procesRow {
  row-gap: 60px;
}

.procesBox {
  padding: 20px;
  border: 2px solid #cccccc;
  height: 100%;
}

.procesBox img {
  margin: -60px 0 17px;
  width: 60px;
}

.procesBox h5 {
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 9px;
  font-family: "Poppins";
}

.procesBox p {
  color: #585e63;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Poppins";
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .process {
    padding: 50px 0;
  }

  .procesHead h3 {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .procesBox {
    padding: 15px;
  }

  .procesBox img {
    margin: -50px 0 17px;
    width: 50px;
  }

  .procesBox h5 {
    font-size: 22px;
    line-height: 22px;
  }

  .procesBox p {
    font-size: 16px;
    line-height: 26px;
  }
}
