.profilecreation {
  padding: 150px 0;
  background: #000;
}

.creation1 {
  background-color: transparent;
  border: 4px solid transparent;
  border-image-source: linear-gradient(45deg, #f32f53, #f32fc2, #4a78ef);
  border-image-slice: 1;
  padding: 5% 23px;
  border-radius: 15px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.creation1:hover {
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white;
  cursor: pointer;
  transform: scale(0.9);
}

/* ============================================= */

@media screen and (max-width: 767px) {
  .creation1 {
    height: auto;
  }
}