.rideBanner {
  background-image: url(../public/images/case-ride/banner.png);
  background-size: contain;
  background-position: 50% -50px;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  background: #000;
}

.contnt p {
  position: absolute;
  bottom: 100px;
  right: 15%;
  max-width: 55%;
  text-align: justify;
  font-size: 20px;
  line-height: 35px;
  color: white;
}

/* ============================================= */

@media screen and (max-width: 1600px) {
  .contnt p {
    bottom: 65px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1536px) {
  .contnt p {
    bottom: 60px;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1440px) {
  .contnt p {
    bottom: 80px;
  }
}

@media screen and (max-width: 1366px) {
  .contnt p {
    bottom: 50px;
    right: 19%;
    max-width: 60%;
    line-height: 25px;
  }
}

@media screen and (max-width: 1280px) {
  .contnt p {
    right: 15%;
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) {

  .rideBanner {
    height: 80vh;
  }

  .contnt p {
    max-width: 80%;
    bottom: 50px;
    right: 10%;
  }
}

@media screen and (max-width: 991px) {
  .rideBanner {
    background-position: inherit;
    height: 87vh;
  }

  .contnt p {
    max-width: 94%;
    bottom: 60px;
    right: 3%;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contnt p {
    bottom: 0;
    font-size: 18px;
  }
}
