.newHomeBg {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #000;
  margin-top: -1%;
}

.possibilities {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.cardimg img {
  width: 95%;
  margin: 0 auto;
}
.appclass {
  position: relative;
}
.cardContent {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 35px;
}
