.serveimg {
  border: 2px solid #000000;
  /* border-radius: 47px; */
  padding: 2rem 1rem;
  cursor: pointer;
  transition: 0.5s;
  height: 500px;
}

.serveimg img {
  margin-bottom: 1.5rem;
}

.serveimg h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  margin-bottom: 1rem;
}

.serveimg p {
  font-size: 15px;
  min-height: 180px;
  font-weight: 500;
  color: black;
  font-family: "Montserrat", sans-serif;

}

.more {
  background-color: transparent;
  width: 55%;
  height: 45px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #000;

}



.serveimg:hover {
  background-color: var(--w-color);
  box-shadow: 0 0 20px 0 #00000045;
}

@media screen and (max-width: 1200px) {

  .more {
    width: 50%;
  }

  .serveimg h4 {
    font-size: 16px;
    line-height: 25px;
  }

}

@media screen and (max-width: 991px) {

  .serveimg p {
    min-height: fit-content;
  }
  .serveimg {
    height: auto;
  }
 

 }