.soulBanner {
  background-image: url(../public/images/case-soul-sound/banner.svg);
  background-size: 70%;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 600px 0 80px;
  background: #000;
}

.heading {
  margin-top: -350px;
}

.contnt {
  margin-top: -170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 375px;
  padding-top: 0px;
}

.contnt p {
  padding-left: 105px;
  color: white;
}

.mblImg {
  display: none;
}

/* ============================================= */

@media screen and (max-width: 1600px) {
  .soulBanner {
    padding: 370px 0 50px;
    background-size: 80%;
  }

  .heading {
    margin-top: -175px;
  }

  .contnt {
    margin-top: 0px;
    padding-top: 0;
  }

  .contnt p {
    padding-left: 125px;
  }
}

@media screen and (max-width: 1440px) {
  .soulBanner {
    padding: 150px 0 20px;
  }

  .heading {
    margin-top: 95px;
  }

  .contnt {
    margin-top: 195px;
    padding-top: 50px;
  }

  .contnt p {
    padding-left: 105px;
  }
}

@media screen and (max-width: 1366px) {
  .soulBanner {
    padding: 100px 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  .soulBanner {
    padding: 20px 0;
  }

  .contnt {
    margin-top: 125px;
    padding-top: 50px;
  }

  .contnt p {
    padding-left: 85px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 991px) {
  .soulBanner {
    padding: 0;
    height: auto;
    background-size: 80%;
    background-position: -90px 140px;
  }

  .heading {
    margin-top: 50px;
  }

  .heading h2 br {
    display: none;
  }

  .heading h2 {
    font-size: 35px;
    text-align: center;
  }

  .contnt {
    margin-top: 0;
    padding-top: 50px;
    height: auto;
    align-items: flex-end;
  }

  .contnt h1 {
    padding-right: 95px;
  }

  .contnt p {
    width: 55%;
    font-size: 15px;
    padding-left: 55px;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .soulBanner {
    background-image: unset;
    padding: 50px 0;
  }

  .heading h2 {
    font-size: 28px;
    text-align: center;
  }

  .heading {
    margin-top: 0px;
  }

  .contnt {
    align-items: flex-start;
    padding-top: 35px;
  }

  .contnt h1 {
    padding-right: 50px;
  }

  .contnt p {
    width: 100%;
    font-size: 15px;
    padding-left: 0;
  }

  .mblImg {
    display: block;
  }
}
