.soulCta {
    background-image: url(../public/images/case-soul-sound/cta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -230px;
}

.soulCtapost {
    background-image: url(../public/images/case-becteria/cta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -230px;
}

.soulmark {
    background-image: url(../public/images/case-mark-place/musical.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -150px;
}

.posy {
    background-image: url(../public/images/case-travel/posy.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -150px;
}

.health {
    background-image: url(../public/images/case-health/cta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -150px;
}

.food {
    background-image: url(../public/images/case-sponsord/posy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 100px 0 160px;
    margin-top: -250px;
}

.ride {
    background-image: url(../public/images/case-ride/cta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -150px;
}

.game {
    background-image: url(../public/images/case-game/cta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: -150px;
}

.soulCta h2,
.soulmark h2,
.posy h2,
.health h2,
.food h2,
.ride h2,
.game h2,
.soulCtapost h2 {
    letter-spacing: 2px;
}

/* ============================================= */

@media screen and (max-width: 991px) {

    .soulCta,
    .soulmark,
    .posy,
    .health,
    .food,
    .ride,
    .game,
    .soulCtapost {
        padding: 80px 0 50px;
    }
}

@media screen and (max-width: 767px) {

    .soulCta,
    .soulmark,
    .posy,
    .health,
    .food,
    .ride,
    .game,
    .soulCtapost {
        margin-top: -120px;
    }
}