.streamlining .myContainer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.streamlining .myContainer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url(../public/images/BlockchainDvelpment/streamlining/before.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 94px;
  height: 78px;
}

.streamlining .myContainer::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../public/images/BlockchainDvelpment/streamlining/before.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 94px;
  height: 78px;
  transform: rotate(180deg);
}

.indus {
  text-align: center;
}

.cardbox {
  background: #ffffff;
  border-radius: 16px;
  padding: 22px 16px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  text-align: center;
  cursor: default;
}

.cardbox img {
  width: 30%;
}

.cardbox:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s ease-in-out;
}

/* ===============Media Queries================ */

@media screen and (max-width: 991px) {
  .streamlining .myContainer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .strmRow {
    row-gap: 50px;
  }

  .strmRow h2 {
    font-size: 35px;
  }
}

/* ===============Media Queries================ */

@media screen and (max-width: 767px) {
  .streamlining .myContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    position: unset;
  }

  .streamlining .myContainer:before {
    display: none;
  }

  .streamlining .myContainer::after {
    display: none;
  }

  .strmRow h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 900;
  }

  .cardbox img {
    width: auto;
  }
}
