@font-face {
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Bold"), url("../public/fonts/supersale/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-Heavy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Heavy"), url("../public/fonts/supersale/Gilroy-Heavy.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-Light;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Light"), url("../public/fonts/supersale/Gilroy-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Medium"), url("../public/fonts/supersale/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"), url("../public/fonts/supersale/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}


.fontgilroybold{
  font-family: Gilroy-Bold;
}
.fontgilroybold{
  font-family: Gilroy-Bold;
}



.center{
  text-align: center;
}



.bannerhome {
  background: #e5d9ea;
  background: -moz-linear-gradient(top,#e5d9ea 0,#e6daec 7%,#e6d9ef 8%,#e6daec 9%,#e7dbef 16%,#e6daee 29%,#e6d9f2 30%,#e7daf1 50%,#e7daf4 51%,#e7daf1 52%,#e7dcf4 57%,#e6dbf3 78%,#e6daf6 79%,#e6dbf3 80%,#e7dcf6 92%,#e3ddf6 93%,#e5dcf6 95%,#e5dcfa 96%,#e5dcf8 100%);
  background: -webkit-linear-gradient(top,#e5d9ea 0,#e6daec 7%,#e6d9ef 8%,#e6daec 9%,#e7dbef 16%,#e6daee 29%,#e6d9f2 30%,#e7daf1 50%,#e7daf4 51%,#e7daf1 52%,#e7dcf4 57%,#e6dbf3 78%,#e6daf6 79%,#e6dbf3 80%,#e7dcf6 92%,#e3ddf6 93%,#e5dcf6 95%,#e5dcfa 96%,#e5dcf8 100%);
  background: linear-gradient(to bottom,#e5d9ea 0,#e6daec 7%,#e6d9ef 8%,#e6daec 9%,#e7dbef 16%,#e6daee 29%,#e6d9f2 30%,#e7daf1 50%,#e7daf4 51%,#e7daf1 52%,#e7dcf4 57%,#e6dbf3 78%,#e6daf6 79%,#e6dbf3 80%,#e7dcf6 92%,#e3ddf6 93%,#e5dcf6 95%,#e5dcfa 96%,#e5dcf8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.headerform .formcontrol {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #fff6f66e;
  color: var(--forth-color);
  font-family: var(--Gilroy-Light);
  border: 1px solid #5813aa;
  display: block;
  width: 100%;
}

.butpost{
  background: #fbc725;
  color: #5813aa;
  padding: 10px 20px;
  width: 100%;
  border-radius: 50px;
  border: 0;
}

.elevate{
  color: #5813aa;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Gilroy-Bold;
  text-align: center;
}