.posting{
  text-align: center;
}
.posting h3{
  color: #F32F53;
  font-weight: 700;
  font-size: 40px;
}
.posting p{
  font-weight: 500;
}
.hook{
  background-color: black;
  position: relative;
 
    background-image: url(../public/images/projectprocess/remain.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1373px;
    padding-top: 9%;


}

.clintSlider img{
  width: 65%;
}

.clintSlider h3{
  font-size: 25px;
  font-weight: 600;
  color: #F32F53;
}
.clintSlider h5{
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 4%;
}
.clintSlider h4{
  font-size: 30px;
  font-family: 200;
  color: #F32F53;
  margin-bottom: 20px;
}

.clintSlider{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.clintSlider img{
  display: block;
  margin: 0 auto;
}

.clintSlider p{
  color: white;
  font-size: 13px;
}


