.people{
  background: #000;
}

.stock{
  position: relative;
  
}
.travel{
  position: absolute;
  /* margin-top: 3%; */
}
.intention{
  position: relative;
  
}
.giving{
  position: absolute;
  margin-top: -5%;
  max-width: 700px;
}


@media screen and (max-width: 991px) {

  .giving{
    position: unset;
    margin-top: unset;

  }
  .travel{
    position: unset;
    margin-top: unset;
  }
  .people{
    margin-top: 8%;
  }
}