.trusted {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.startup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap-reverse;
  filter: opacity(0.5);
  margin-top: 2%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.startup1 img {
  margin: 0 auto;
  width: 130px;
  filter: contrast(0.5);
}

.minImg img{
  width: 80px;
}

.strpImg {
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .startup {
    display: flex;
    gap: 50px;
    flex-wrap: wrap-reverse;
    filter: opacity(0.5);
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .startup {
    gap: 35px;
    flex-wrap: wrap-reverse;
    filter: opacity(0.5);
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
  }
}
@media screen and (max-width: 480px) {
  .startup {
    display: none;
  }
  .startup1 {
    display: block;
    margin-top: 10%;
  }
  .startup1 img {
    padding: 10px;
  }
}
