.weall {
  background-color: black;
  padding-top: 200px;
  padding-bottom: 200px;


}

.weall h2 {

  background: linear-gradient(to right, #EB335B 35%, #4A78EF 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  font-weight: bold;
}

.weall p {
  font-size: 16px;
  color: white;
}

.weall a {
  width: 75%;
  height: 45px;
  background-image: linear-gradient(to right, #F32F53, #F32FC2, #4A78EF);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}





@media screen and (max-width: 1600px) {



}



@media screen and (max-width: 1400px) {


  .weall {
    background-color: black;


  }



  .weall h2 {
    background: linear-gradient(to right, #EB335B 35%, #4A78EF 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 49px;
    font-weight: bold;
  }

}




@media screen and (max-width: 1200px) {



  .weall a {
    width: 100%;
  }


  .weall {
    background-color: black;
    padding-top: 250px;
    padding-bottom: 250px;
  
  
  }

}


@media screen and (max-width: 991px) {

  .weall a {
    width: 70%;
  }

}

@media screen and (max-width: 767px) {

  .weall {
    background-color: black;
   
    padding-bottom: 50px;
}

  .weall a {
    width: 100%;
  }

  .weall h2 {

    font-size: 30px;

  }

}

@media screen and (max-width: 480px) {



.weall{
  padding-top: 50px;
  text-align: center;
}

  .weall a {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0;
  }

  .weall h2 {

    font-size: 30px;

  }

 }



